<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<body>
<div>
  <form action="/banker/profile/update" method="post">
    <div class="form-group">
      <label>이름</label>
      <input type="text" name="name" th:value = "${banker.getBankerName()}">
      <label>직책</label>
      <input type="text" name="position" th:value = "${banker.getBankerPosition()}">
      <label>전화번호</label>
      <input type="text" name="tel" th:value = "${banker.getBankerTel()}">
      <label>부서</label>
      <input type="text" name="dept" th:value = "${banker.getBankerDept()}">
    </div>
    <button type="submit">수정하기</button>
  </form>
</div>
</body>
</html>