<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
회원 정보를 입력해주세요!
모든 입력은 필수입니다!!

<form action="/signup/save" method="post" onsubmit="return validateForm()">
  <div>
    <label for="customerId">아이디: </label>
    <input id="customerId" name="customerId" type="text" onblur="idDuplicate()">
    <span id="id-dup-result"></span>

  </div>
  <div>
    <label for="customerPassword">비밀번호: </label>
    <input id="customerPassword" name="customerPassword" type="password">
  </div>
  <div>
    <label for="customerPasswordCheck">비밀번호확인: </label>
    <input id="customerPasswordCheck" name="customerPasswordCheck" type="password" onblur="passwordCheck()">
    <span id="password-check-result"></span>
  </div>
  <div>
    <label for="customerName">이름: </label>
    <input id="customerName" name="customerName" type="text">
  </div>
  <div>
    <label for="customerAddr1">주소지1: </label>
    <input id="customerAddr1" name="customerAddr1" type="text">
  </div>
  <div>
    <label for="customerAddr2">주소지2: </label>
    <input id="customerAddr2" name="customerAddr2" type="text">
  </div>
  <div>
    <label for="customerTel">전화번호: </label>
    <input id="customerTel" name="customerTel" type="text">
  </div>
  <div>
    <label for="customerPhone">핸드폰: </label>
    <input id="customerPhone" name="customerPhone" type="text">
  </div>

  <input type="submit" onclick="location.href='/';" value="가입하기">
</form>
</body>
<script th:inline = "javascript">
  const idDuplicate = () => {
    const id = document.getElementById("customerId").value;
    const idCheckResult = document.getElementById("id-dup-result");
    $.ajax({
      type: "post",
      url: "/signup/idCheck",
      dataType: "text",
      data: {
        "customerId": id
      },

      success: function (result) {
        if(result == "ok"){
          idCheckResult.innerHTML = "사용가능한 아이디입니다.";
          idCheckResult.style.color ="green";
        }else {
          idCheckResult.innerHTML = "사용중인 아이디입니다.";
          idCheckResult.style.color = "red"
        }
      },
      error: function (){
        alert("ajax 실패");
      }
    })
  }

  const passwordCheck = () => {
    const password = document.getElementById("customerPassword").value;
    const passwordCheck = document.getElementById("customerPasswordCheck").value;
    const pwCheckResult = document.getElementById("password-check-result");

    if(password === passwordCheck){
      pwCheckResult.innerHTML = "비밀번호가 일치합니다";
      pwCheckResult.style.color ="green";
    }else {
      pwCheckResult.innerHTML = "비밀번호가 일치하지 않습니다";
      pwCheckResult.style.color = "red"
    }
  };

  const validateForm = () => {
    const id = document.getElementById("customerId").value;
    const idCheckResult = document.getElementById("id-dup-result");
    const passwordCheck = document.getElementById("customerPasswordCheck").value;
    const pwCheckResult = document.getElementById("password-check-result");

    if(idCheckResult.style.color === "red" && passwordCheck !== document.getElementById("customerPassword").value) {
      alert("사용중인 아이디입니다. 다른 아이디를 입력해주세요!\n비밀번호가 일치하지 않습니다. 다시 입력해주세요!");
      document.getElementById("customerId").value = "";
      document.getElementById("customerPasswordCheck").value = "";
      return false;
    }else if(passwordCheck !== document.getElementById("customerPassword").value) {
      alert("비밀번호가 일치하지 않습니다. 다시 입력해주세요!");
      document.getElementById("customerPasswordCheck").value = "";
      return false;
    }else if(idCheckResult.style.color === "red"){
      alert("사용중인 아이디입니다. 다른 아이디를 입력해주세요!");
      document.getElementById("customerId").value = "";
      return false;
    }
      return true;
  };

</script>
</html>
