<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
</head>
<body>
회원 정보를 입력해주세요!

<form action="/signup.do" method="post">
  <div>
    <label for="cus_id">아이디: </label>
    <input id="cus_id" name="cus_Id" type="text">
  </div>
  <div>
    <label for="cus_password">패스워드: </label>
    <input id="cus_password" name="cus_password" type="password">
  </div>
  <div>
    <label for="cus_name">이름: </label>
    <input id="cus_name" name="cus_name" type="text">
  </div>
  <div>
    <label for="cus_addr1">주소지1: </label>
    <input id="cus_addr1" name="cus_addr1" type="text">
  </div>
  <div>
    <label for="cus_addr2">주소지2: </label>
    <input id="cus_addr2" name="cus_addr2" type="text">
  </div>
  <div>
    <label for="cus_tel">전화번호: </label>
    <input id="cus_tel" name="cus_tel" type="text">
  </div>
  <div>
    <label for="cus_phone">핸드폰: </label>
    <input id="cus_phone" name="cus_phone" type="text">
  </div>

  <input type="submit" value="가입하기">
</form>
</body>
</html>
